body {
  margin: 0;
  font-family: "Lato", sans-serif;
  background: rgb(76, 87, 99);
  background: linear-gradient(
    180deg,
    rgba(76, 87, 99, 1) 0%,
    rgba(55, 63, 72, 1) 50%,
    rgba(35, 41, 46, 1) 100%
  );
  height: 100vh;
}
