body {
  margin: 0;
  font-family: "Lato", sans-serif;
  background: #1c1c1c;
  box-sizing: border-box;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.MainContent {
 background-color: #1c1c1c;
 padding: 0 60px 0;
}
