body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background: rgb(76, 87, 99);
  background: linear-gradient(
    180deg,
    rgba(76, 87, 99, 1) 0%,
    rgba(55, 63, 72, 1) 50%,
    rgba(35, 41, 46, 1) 100%
  );
  height: 100vh;
}