.Container {
  display: flex;
  padding: 40px 60px;
  justify-content: space-between;
  align-items: center;
}

.RightSection,
.LogoWrapper {
  width: 25%;
}

.SearchWrapper {
  width: 50%;
  display: flex;
  justify-content: center;
}

.RightSection {
  display: flex;
  justify-content: flex-end;
}
